<h1> New Article</h1>

<%= render 'form', article: @article, button_name: 'Save Article' %>

<%# <form action="/articles" method="post">
  <p>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title">
    <label for="body">Body</label><br>
    <textarea type="text" id="body" name="body"></textarea>
    <input type="submit" value="Save Article">
  </p>
</form> %>
<%= link_to "back", root_path%>